<h1>My Pokemons</h1>
<main>
	<h1>Browser</h1>
	<form action="" method="">
		<input type="text" class="search" name="search" placeholder="Search..." value="{{search}}">
		<input type="number" name="from" class="difficulty" placeholder="Power from..." value="{{from}}">
		<span>-</span>
		<input type="number" name="to" class="difficulty" placeholder="Power to..." value="{{to}}">
		<input type="submit" value="search">
	</form>
	
	{{#each pokemons}}
		{{> pokemon}}
	{{/each}}
</main>