<main>
    <h1>Create Element</h1>
    <div class="form">
        <form method="POST">
            <label for="name">Type</label>
            <input type="text" id="type" name="type">
            <label for="image">ImageUrl</label>
            <input type="text" id="image" name="imageUrl">
            <input type="submit" value="Create">
        </form>
    </div>
</main>