<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pokemons</title>
  <link href="/static/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/static/images/PokeFavIcon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/static/images/pokeLogo.jfif"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/pokemons/create">Add a Pokemon</a></li>
        <li><a href="/elements/create">Add Element</a></li>
      </ul>
    </header>

    {{{body}}}

  </div>

  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>